<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row>
    <button mat-button>
      <img class="logo" src="assets/images/icons/angular-white-transparent.svg" alt="">
      <span>Ngrx Material Starter</span>
    </button>
    <span fxFlex></span>

    <button mat-button [routerLink]="[ '/login' ]">Login</button>
    <!-- <a href="https://github.com/angular/material2" mat-button>
      <img class="logo" src="assets/images/icons/github-circle-white-transparent.svg" alt="">
      <span>Github</span>
    </a> -->

  </mat-toolbar-row>
</mat-toolbar>